* {
    box-sizing: border-box;
}

/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td { /* table elements 表格元素 */
    padding: 0;
    margin: 0;
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea { /* for ie */
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    font-size: 12px;
    outline: none;
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

h4,
h5,
h6 { font-size: 100%; }

address,
cite,
dfn,
em,
var { font-style: normal; } /* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul,
ol { list-style: none; }

/* 重置文本格式元素 */
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a:hover { text-decoration: none; }

abbr[title],
acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q::before,
q::after { content: ""; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset,
img { border: none; } /* img 搭车：让链接里的 img 无边框 */

/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

button {
    cursor: pointer;
    background: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    height: 1px;
    border: none;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow: hidden; }

/* 其他常用样式 */
.hidden {
    display: none !important;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    appearance: none;
    background: transparent;
}
