body {
    height: auto !important;
    background: #eee !important;
}

.main {
    // width: 1024px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 5px #999;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        a {
            font-size: 16px;

            & + a {
                margin-left: 20px;
            }
        }
    }

    ul {
        li {
            padding: 10px 0;
            list-style: none;

            .li-name {
                display: inline-block;
                padding-left: 10px;
            }

            &.page {
                height: 32px;
                text-align: center;
            }
        }
    }
}

.article-content img,
.reply-item-content img {
    max-width: 100%;
}

.reply-item {
    padding-top: 8px;
    border-bottom: 1px dashed #ccc;

    h5 {
        span {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

h3 {
    text-align: center;
}

.article-content {
    word-wrap: break-word;
}

.reply {
    border-top: 1px solid #ccc;
}

pre {
    overflow: auto;
}

.el-loading-mask {
    background-color: rgba(255, 255, 255, 0.4);
}
